{"filter":false,"title":".gitignore","tooltip":"/message-board/database/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1493637886469,"hash":"9aaae3fc7f669c65b7d62f4a52fc6d775ddd8e2e"}