{"filter":false,"title":".gitignore","tooltip":"/message-board/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":5,"column":0},"end":{"row":5,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1493637750610,"hash":"219b396fd73ecf1ad66fb73d22afe30a56d7eacc"}